# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/


# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
pubspec.lock
.pub/
/build/
.idea/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Platform-specific build files
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/engine
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.xcframework
ios/Flutter/flutter_export_environment.sh

# MacOS specific
macos/Flutter/Flutter.podspec
macos/Flutter/flutter_export_environment.sh
macos/Pods/
macos/.symlinks/
macos/Flutter/App.framework
macos/Flutter/Flutter.xcframework
macos/Flutter/engine

# Windows specific
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/runner/GeneratedPluginRegistrant.cpp

# Linux specific
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/runner/GeneratedPluginRegistrant.cpp

# Web specific
web/.dart_tool/
web/.packages
web/build/
